h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2vw;
    color:darkgreen;
    text-decoration: underline;
    
}

ul {
    font-size: large;
    font-style: italic;
    color:darkgreen;
}